$color-text: #777;

$color-white: #fff;
$color-black: #000;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #285F47;

$color-secondary-light: #CFEBF8;
$color-secondary-dark: #929C84;

$color-tertiary-light: #88D9EC;
$color-tertiary-dark: #146297;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-warning: #ff4852;

//=========GRID===========//
$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 3rem;
